@import "tailwindcss";

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 1s ease-in-out;
}

.b{
  border: 2px solid red;
}